@{ 
        ViewData["Title"] = "Katalog falowników";
 }
<body>
    <header class="container-fluid" >
        <div class="text-center">
            <h1 class="display-4">Inverters Catalog</h1>
            <p></p>
        </div>
    </header>

    <style>
        img {
            width: 200px;
        } 
    </style>

    <div class="text-left">
        <img src="~/img/Solis-Mini(700-3600)-4G.png" />
        <h3>Solis-Mini(700 - 3600) 4G</h3>
    </div>

    <div>
        <ul>
            <h5>Avaiable powers:</h5>
            <li> 700 W /1000 W/1500 W/2000 W/2500 W/3000 W/3600 W </li>
        </ul>
    </div>

    <div>
        <script>
            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = 'http://localhost:50719/api/PvPanels';
            fetch(proxyurl + url, {
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
                .then(response => {
                    return response.json();
                }
                )
                .then(data => {
                    console.log(data);
                }
                ) // Work with JSON data here
                .catch((err) => {
                    // Do something for an error here
                })
        </script>
    </div>

</body>